/* Defined static dark theme colors */
@define-color background #1A1A1A;
@define-color foreground #D0D0D0;
@define-color color7 #A9A9A9;
@define-color color9 #FFFFFF;
@define-color blue #5F87AF;

* {
    font-size: 12px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
    background: @background;
    color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0px 6px;
    margin: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

/* Tooltip */
tooltip {
    background: @background;
    color: @color7;
}

/* Hover effects */
#clock:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color: @color9;
}

/* Clock */
#clock {
    padding: 0px 6px;
    color: @color7;
    transition: all .3s ease;
}

/* Tray */
#tray {
    padding: 0px 6px;
    transition: all .3s ease;
    color: @color7;
}
#tray:hover {
    color: @color9;
}

/* Workspaces */
#workspaces {
    padding: 0px 6px;
}
#workspaces button {
    all: unset;
    padding: 0px 6px;
    color: alpha(@color9, .4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color: rgba(0,0,0,0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}

/* Focused workspace */
#workspaces button.focused {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/* Empty workspace */
#workspaces button.empty {
    color: rgba(0,0,0,0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty.focused {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/* System modules */
#bluetooth,
#network {
    padding: 0px 6px;
    transition: all .3s ease;
    color: @color7;
}

#battery {
    padding: 0px 6px;
    transition: all .3s ease;
    color: @color7;
}
#battery.charging {
    color: #26A65B;
}
#battery.warning:not(.charging) {
    color: #ffbe61;
}
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}

/* CPU / Memory / Temp */
#cpu,
#memory,
#temperature {
    padding: 0px 6px;
    transition: all .3s ease;
    color: @color7;
}

/* Custom modules */
#group-expand,
#custom-expand,
#custom-powermenu,
#custom-gpu-usage{
    padding: 0px 6px;
    transition: all .3s ease;
    color: @color7;
}

#custom-expand {
    color: alpha(@foreground, .2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
}

#custom-expand:hover {
    color: rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255,255,255,.5);
}

#custom-powermenu:hover {
    color: @color9;
}

#custom-gpu-usage:hover {
    color: @color9;
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

